/***********************
Write your SCSS below!
************************/

@mixin center {
    text-align: center;
}
@mixin fadein {
    background: transparent;
    transition: background-color 1s;    
}
$dm_grey : #919191;
$dm_blue : #34bbf0;
$dm_white : #ffffff;
.team-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h4 {
        color: $dm_white;
    }
    .team-item  {
        flex: 1 0 29%;
        margin: 5px;
        //border: .5px solid #c5c5c5; 
        max-width: 290px;
        .team-featured-image, .team-name, .team-title, .team-social {
            @include center;
        }
        .team-name {
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.06em;
        }
        .team-bio {
            margin: .5em 1.5em 1.5em ;
        }
      }
    .team-featured-image {
        margin: 0;
        .img {
            width: 100% !important;
            max-height: 290px;
        }    
    } 
    .team-background {
        width: 290px;
        height: 290px;
        background-repeat: no-repeat;
        background-size: cover;
        .team-overlay {
            width:100%;
            height: 100%;
            background-color: rgba(0,0,0, 0.4);
            color: #fff;
            padding-top: 33%;
        }
        .team-overlay:hover {
            @include fadein();
        }
        .team-overlay.overlay-active {
            @include fadein();
            .team-name {
                opacity: 0.7;
            }
            .team-title {
                opacity: 0.7;
            }
        }
    }
    .team-social {
        text-align: center;
        padding: 5px 0;
        a {
            font-size:30px;
            padding: 0 8px;
            .fa {
                color: $dm_blue;
            }
            .fa:hover {
                color: $dm_grey;
                transition: color 0.5s;
            }
        }
    }
    .team-content {
        display: none;
        opacity: 0.9;
        color: $dm_grey;
    }
    .team-content.active{
        border: .5px solid #c5c5c5;

    }
}
#wp-custom-header img {
    object-position: 50% 25%;
}
.page-numbers {
    color: $dm_blue;
    &:hover {
        color: $dm_grey !important;
        text-transform: none !important;
    }
}
.prev.page-numbers, .next.page-numbers {
    background-color: transparent;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
    padding: 0.25em 0.5em 0.4em;
    &:hover{
        background-color: transparent;
        color: $dm_grey;
    }
}